body {
    width: 300px;
    padding: 20px;
    margin: 10px;
    font-family: Arial, sans-serif;
}

input[type="checkbox"] {
    margin: 0;
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 15px;
}